<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AndroidPreferences"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <!--<activity
            android:name=".W3Activity"
            android:exported="false"
            android:label="@string/title_activity_w3"
            android:theme="@style/NoActionBar" />-->
        <activity
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:name=".HomeActivity"
            android:theme="@style/Base.Theme.AndroidPreferences"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:name=".DetailsActivity"
            android:theme="@style/Theme.AndroidPreferences"
            android:exported="true">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2795821427125244~8069322787"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>